{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <p>Un e-mail vous a été envoyé. Il contient un lien sur lequel vous devez cliquer pour réinitialiser votre mot de passe. Ce lien expirera dans {{ duration }} minutes.</p>
{% endblock %}
